<footer>
    <div class="row">
        <div class="col-sm-6">
            <img src="./images/logos/Untitled design-8.png" height="50px" alt="" srcset="">
            <p>
                A not-for-profit organization, IEEE is the world’s largest technical professional organization
                dedicated to advancing technology for the benefit of humanity.
            </p>

        </div>

        <div class="col-sm-3">
            <ul class="footerLinks">
                <li><a href="#">Blogs</a></li>
                <li><a href="#">Officer</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Join IEEE</a></li>
            </ul>
        </div>

        <div class="col-sm-3">
            <ul class="footerLinks">
                <li><a href="#">IEEE CUSB</a></li>
                <li><a href="#">IEEE Delhi Section</a></li>
                <li><a href="#">IEEE</a></li>
            </ul>
        </div>
    </div>

</footer>
</body>

<script src="./script.js"></script>
<script src="./bootstrap.js"></script>

</html>