@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Work+Sans:wght@700&display=swap");
html{
    padding: 0;
    margin: 0;
}

.Body {
  background-color: #111111;
  color: white;
}

.Navbar {
  /* background-color: #101010; */
  color: white;
  padding-left: 50px;
  padding-right: 50px;
}

.Navbar img {
  height: 100px;
}

.nav-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 17px;
  margin-left: 15px;
}

.nav-link:focus {
  outline: none;
  box-shadow: none;
  color: white;
}

.Active {
  border-bottom: 1px solid white;
}

.nav-link:hover {
  color: #faa41a;
}

.container {
  max-width: 1300px;

  color: white;
  width: 90%;
}

.cardRight {
  background: linear-gradient(26.57deg, #faa41a 16.67%, #ffd490);
  border: 0;
  border-radius: 20px;
  color: black;
}

.ImageHome {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/pexels-photo-3184306.webp");
  height: 600px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-radius: 20px;
  margin: 20px auto;
}

.institutionArea {
  background: linear-gradient(90deg, #5f2c82, #49a09d);
  border-radius: 20px;
  padding: 20px;
}

.imagesList {
  list-style: none;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding: 0;
}

.imagesInList {
  display: inline;
  padding: 0;
  width: auto;
  margin: 0 auto;
}

.imagesInList>img{
    height: 100px;
}

.marginRight {
  margin-left: 100px;
}

.wFitContent {
  width: fit-content;
}

.mainText {
  position: relative;
  top: 300px;
  left: 30px;
  font-family: "Work Sans", sans-serif;
}

.mainText > h1 {
  font-size: 50px;
}

.Line1,
.Line2 {
  color: #ffffff;
  font-weight: 600;
  font-size: 70px;
}

.Line2 {
  color: #f9ce85;
  position: relative;
  bottom: 15px;
}

.normalPara {
  font-size: 22px;
}
.cardRight h1 {
  font-size: 100px;
  width: fit-content;
  margin: 0 0 0 auto;
}

/* cursor: */

.NewsletterSignup {
  margin: 100px auto;
  text-align: center;
}

.NewsletterSignup > h4,
.NewsletterSignup > h1 {
  width: fit-content;
  margin: 0 auto;
}

.gradient-text {
  background-color: red;
  background-image: linear-gradient(45deg, #f3ec78, #af4261 70%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: bolder;
  font-size: 60px;
}

footer {
  background-color: #242424;
  padding: 60px 15px 20px 15px;
}

footer p,
footer img {
  padding-left: 50px;
  margin-bottom: 20px;
}

.footerLinks {
  list-style: none;
}

.footerLinks > li {
  margin-top: 7px;
}

.footerLinks > li > a {
  color: white;
  text-decoration: none;
}

.officersPage .card{
    background-color: #111111;
    color: #ffc76d;
}

.officersPage .card .card-title{
    font-size: 25px;
}

.officersPage .card .card-text{
    color: white;
    font-size: 18px;
}

.officersPage{
    background-color:#111111;
    width: fit-content;
    margin: 30px auto;
}

.officersPage .card{
    margin: 10px 10px;
}

@media only screen and (max-width: 900px) {
  .Navbar {
    padding: 0;
  }
  .Navbar img {
    height: 70px;
  }
  .mainText {
    position: relative;
    top: 200px;
    left: 10px;
    font-family: "Work Sans", sans-serif;
  }

  .Line1,
  .Line2 {
    color: #ffffff;
    font-weight: 600;
    font-size: 50px;
    margin: auto;
  }

  .Line2 {
    color: #f9ce85;
    position: relative;
    bottom: 15px;
  }

  .normalPara {
    padding: 25px;
    padding-top: 5px;
    margin: 0 auto;
  }

  .imagesInList{
      margin: 0;
  }

  .imagesInList>img{
    height: 80px;
    margin-bottom: 20px;
  }

  .ieeecusblogo{
  }
}
