<%- include("./partials/header") %>

<!-- <div class="card cardRight col-4">
        <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nisi accusamus fuga adipisci, corporis ducimus.</h5>
        </div>
    </div> -->

<div class="container ms-auto me-auto ImageHome">
    <div class="mainText">
        <h1>Welcome to</h1>
        <h1>IEEE Computer Society, CUSB</h1>
        <h1>Official Page</h1>
    </div>
</div>

<div class="ms-auto me-auto col-md-10">
    <h1 class="mt-5 mb-0 wFitContent h1 Line1">About</h1>
    <h1 class="mb-2 wFitContent h1 Line2">US</h1>
    <p class="normalPara">
        IEEE Computer Society Chandigarh University was formed as a student augmented society in 2022. It emerges
        out with an aim to grab every possible opportunity for its student aspirers and be a well-known name for
        computing innovations and algorithm.
        <br></br>
        It has been a privilege to be a hub for Developing computational
        paradigms in science and engineering. It stands responsible for organizing various hackathons, seminars,
        bootcamps and a variety of workshops to encourage its student to inspire and aspire simultaneously with new
        skill acquirement. IEEE CS CU looks forward to the bright future waiting for its members in their success
        paths.
    </p>

    <div class="row w-100 ms-auto me-auto justify-content-evenly">

        <div class="card cardRight col-md-5">
            <div class="card-body">
                <h2>Our members: </h2>
                <h1 id="increaseNum">50+</h1>
            </div>
        </div>

        <div class="card cardLeft bg-dark col-md-6">
            <div class="card-body terminalWindow">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="red" class="bi bi-circle-fill"
                    viewBox="0 0 16 16">
                    <circle cx="8" cy="8" r="8" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="yellow" class="bi bi-circle-fill"
                    viewBox="0 0 16 16">
                    <circle cx="8" cy="8" r="8" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="rgb(77, 228, 82)"
                    class="bi bi-circle-fill" viewBox="0 0 16 16">
                    <circle cx="8" cy="8" r="8" />
                </svg>

                <p class="mt-1 mb-0">IEEE-CUSB @ CS ~ join ieee</p>
                <p class="mt-0 mb-0">IEEE-CUSB @ CS ~ join computer society</p>
                <br />
                <h4>
                    Welcome to Computer Society where the future learns
                </h4>
            </div>
        </div>
    </div>
</div>

<h5 class="mt-5 mb-3 ms-auto me-auto wFitContent">We are operating under:</h5>
<div class="row institutionArea justify-content-center">
    <div class="imagesInList col-md-6 p-5"><img src="./images/logos/cu-logo-white.webp" alt="" srcset=""></div>
    <div class="imagesInList col-md-6"><img src="./images/logos/Untitled design-7.png" alt="" srcset=""></div>
</div>



<div class="ms-auto me-auto col-md-10">
    <h1 class="mt-5 mb-0 p-0 wFitContent h1 Line1">Our</h1>
    <h1 class="mb-2 p-0 wFitContent h1 Line2">Vision</h1>
    <p class="normalPara">
        Our strategy is to provide value to the whole community. It is not just limited to IEEE CS team but to whole
        IEEE CUSB team. We plan to engage more students and early career professionals and also help them to build
        their resume. Lead our society’s way to the new technical areas and to maintain focus on diversity and
        inclusion.
    </p>
</div>

<div class="ms-auto me-auto col-md-10 mb-lg-5">
    <h1 class="mt-5 mb-0 p-0 wFitContent h1 Line1">Our</h1>
    <h1 class="mb-2 p-0 wFitContent h1 Line2">Mission</h1>
    <p class="normalPara">
        IEEE COMPUTER SOCIETY aims to take a hold of all probable opportunities for its students. Our society is
        dedicated to empower new innovations, technologies and ideas. We strive to be the leading contributor of
        technical information, community services, personalized support and experience, helping our members to grow.
        We also aim to provide a healthy and thriving network of officials to them and a comfortable environment.
    </p>
</div>

<div class="NewsletterSignup col-md-6 ms-auto me-auto">
    <h4>Subscribe to our</h4>
    <h1 class="gradient-text">Newsletter</h1>
    <form action="/newsletter-signup" class="mt-5 p-3" method="post">
        <div class="input-group mb-3">
            <input type="text" class="form-control newsletterEmail" placeholder="Recipient's Email"
                aria-label="Recipient's Email" aria-describedby="button-addon2">
            <button class="btn btn-success" type="submit" id="button-addon2">Button</button>
        </div>
    </form>
</div>

<%- include("./partials/footer") %>