<%- include("./partials/header") %>

    <div class="col-md-10 officersPage ms-auto me-auto">
        <div class="row justify-content-center">
            <div class="card col-sm-3">
                <!-- <img src="./images/officers/WhatsApp-Image-2022-03-21-at-10.14.34-PM.jpeg" class="card-img-top"
                    alt="..."> -->
                    <div class="userImg" id="imgDaa"></div>
                <div class="card-body">
                    <h5 class="card-title">Dr. Priestly Shan Boaz</h5>
                    <p class="card-text">Branch Advisor, IEEE CUSB</p>
                </div>
            </div>

            <div class="card col-sm-3">
                <!-- <img src="./images/officers/WhatsApp Image 2022-05-02 at 4.40.13 PM.jpeg" class="card-img-top"
                    alt="..."> -->
                    <div class="userImg" id="imgss"></div>
                <div class="card-body">
                    <h5 class="card-title">Er. Sugandha Sharma</h5>
                    <p class="card-text">Branch Counselor</p>
                </div>
            </div>

            <div class="card col-sm-3">
                <!-- <img src="./images/officers/WhatsApp-Image-2022-03-21-at-10.14.34-PM.jpeg" class="card-img-top"
                    alt="..."> -->
                    <div class="userImg" id="imgag"></div>
                <div class="card-body">
                    <h5 class="card-title">Dr. Anish Gupta</h5>
                    <p class="card-text">Chapter Counselor</p>
                </div>
            </div>

            <div class="card col-sm-3">
                <!-- <img src="./images/officers/WhatsApp-Image-2022-03-21-at-10.14.34-PM.jpeg" class="card-img-top"
                    alt="..."> -->
                    <div class="userImg" id="imgvs"></div>
                <div class="card-body">
                    <h5 class="card-title">Mr. Vaibhav Singh</h5>
                    <p class="card-text">Chairperson</p>
                </div>
            </div>

            <div class="card col-sm-3">
                <!-- <img src="./images/officers/WhatsApp-Image-2022-03-21-at-10.14.34-PM.jpeg" class="card-img-top"
                    alt="..."> -->
                    <div class="userImg" id="imgsv"></div>
                <div class="card-body">
                    <h5 class="card-title">Mr. Sanchit Verma</h5>
                    <p class="card-text">Vice-Chairperson</p>
                </div>
            </div>

            <div class="card col-sm-3">
                <!-- <img src="./images/officers/WhatsApp-Image-2022-03-21-at-10.14.34-PM.jpeg" class="card-img-top"
                    alt="..."> -->
                    <div class="userImg" id="imgak"></div>
                <div class="card-body">
                    <h5 class="card-title">Ms. Amandeep Kaur</h5>
                    <p class="card-text">Secretary</p>
                </div>
            </div>

            <div class="card col-sm-3">
                <!-- <img src="./images/officers/WhatsApp-Image-2022-03-21-at-10.14.34-PM.jpeg" class="card-img-top"
                    alt="..."> -->
                    <div class="userImg" id="imgup"></div>
                <div class="card-body">
                    <h5 class="card-title">Ms. Udisha Paliwal</h5>
                    <p class="card-text">Webmaster</p>
                </div>
            </div>

            <div class="card col-sm-3">
                <!-- <img src="./images/officers/WhatsApp-Image-2022-03-21-at-10.14.34-PM.jpeg" class="card-img-top"
                    alt="..."> -->
                    <div class="userImg" id="imglc"></div>
                <div class="card-body">
                    <h5 class="card-title">Mr. Lakshay Chawla</h5>
                    <p class="card-text">Webmaster</p>
                </div>
            </div>
        </div>
    </div>

<%- include("./partials/footer") %>
